/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  box-sizing: inherit;
  font-family: sans-serif;
  margin: 0;
}

body {
  background-color: rgb(238, 238, 238);
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="text-area"],
textarea,
button {
  -webkit-appearance:none;
  font-size: 16px;
  font-family: sans-serif;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  clear: both;
  display: table;
}
