/* PHASE 1: Header */
.header {
  background: red;
  height: 39px;
  color: white;
}

h1.left-section {
  display: inline-block;
  margin: 0;
  height: 100%;
}

h1.left-section > li {
  display: inline-block;
}

ul.right-section {
  margin: 0;
}

nav.main-nav {
  width: 900px;
  height: 100%;
  margin: 0 auto 0 auto;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
}

.main-nav > ul {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 0px;
}

.main-nav li {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.right-section > li > a {
  padding: 11px 20px 10px 20px;
  display: inline-block;
}

.main-nav > ul > li:hover {
  background: black;
  cursor: pointer;
}

.main-nav > h1 > li:hover {
  background: black;
  cursor: pointer;
}

.left-section > li {
  border-right: 1px solid rgb(238, 238, 238);
  padding: 11px 20px 10px 20px;
}

.right-section > li {
  border-left: 1px solid rgb(238, 238, 238);
  position: relative;
}

.notification-count {
  background: black;
  border-radius: 8px;
  color: white;
  padding: 1px 6px 1px 6px;
  font-size: 14px;
}

.notification-element:hover .notification-count {
  background: red;
}

.drop-down {
  position: absolute;
  color: black;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: -1px;
  white-space: nowrap;
  visibility: hidden;
}

.notification-element:hover > .drop-down {
  visibility: visible;
}

.drop-down > li:hover {
  background: #eee;
}

.drop-down > li {
  background: white;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #ccc;
}

.drop-down a {
  padding: 10px 10px 10px 20px;
  display: inline-block;
  font-size: 14px;
}

.main-content {
  width: 900px;
  background: white;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 auto 0 auto;
  position: relative;
}

.main-content:after {
  content: "";
  display: block;
  clear: both;
}

.main-content:before {
  content: "";
  width: 1px;
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 240px;
  background: #ccc;
}

.content-sidebar {
  width: 200px;
  float: left;
  min-height: 200px;
  padding: 20px;
}

.content-main {
  width: 619px;
  float: left;
  min-height: 200px;
  padding: 20px;
}
