/* PHASE 1: Header */
.header {
  background: red;
  height: 39px;
  color: white;
}

h1.left-section {
  display: inline-block;
  margin: 0;
  height: 100%;
}

h1.left-section > li {
  display: inline-block;
}

ul.right-section {
  margin: 0;
}

nav.main-nav {
  width: 900px;
  height: 100%;
  margin: 0 auto 0 auto;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
}

.main-nav > ul {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 0px;
}

.main-nav li {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.right-section > li > a {
  padding: 11px 20px 10px 20px;
  display: inline-block;
}

.main-nav > ul > li:hover {
  background: black;
  cursor: pointer;
}

.main-nav > h1 > li:hover {
  background: black;
  cursor: pointer;
}

.left-section > li {
  border-right: 1px solid rgb(238, 238, 238);
  padding: 11px 20px 10px 20px;
}

.right-section > li {
  border-left: 1px solid rgb(238, 238, 238);
  position: relative;
}

.notification-count {
  background: black;
  border-radius: 8px;
  color: white;
  padding: 1px 6px 1px 6px;
  font-size: 14px;
}

.notification-element:hover .notification-count {
  background: red;
}

.drop-down {
  position: absolute;
  color: black;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: -1px;
  white-space: nowrap;
  visibility: hidden;
  z-index: 2;
}

.notification-element:hover > .drop-down {
  visibility: visible;
}

.drop-down > li:hover {
  background: #eee;
}

.drop-down > li {
  background: white;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #ccc;
}

.drop-down a {
  padding: 10px 10px 10px 20px;
  display: inline-block;
  font-size: 14px;
}

.main-content {
  width: 900px;
  background: white;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 auto 0 auto;
  position: relative;
}

.main-content:after {
  content: "";
  display: block;
  clear: both;
}

.main-content:before {
  content: "";
  width: 1px;
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 240px;
  background: #ccc;
}

.content-sidebar {
  width: 200px;
  float: left;
  min-height: 200px;
  padding: 20px;
  overflow: visible;
  z-index: 5;
}

.content-main {
  width: 619px;
  float: left;
  min-height: 200px;
  padding: 20px;
}

footer {
  height: 56px;
  margin: 0 auto 0 auto;
  background: white;
  width: 900px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  font-family: Roboto;
  color: rgb(170, 170, 170);
  font-size: 0.85em;
}

.copy-right {
  float: left;
}

.footer-buttons-group {
  float: right;
}

.footer-buttons-group > li {
  display: inline-block;
}

footer > small.copy-right {
  padding: 20px;
}

ul.footer-buttons-group {
  padding: 21px 12px 21px 12px;
}

ul.footer-buttons-group > li > a {
  padding: 0 10px 0 10px;
}

ul.footer-buttons-group > li > a:hover {
  color: black;
  cursor: pointer;
}

.cover-photo {
  position: relative;
  height: 200px;
  width: 900px;
  margin: 0 auto 0 auto;
  z-index: 0;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.cover-photo > img {
  position: relative;
  top: -100px;
}

button.add-friend {
  position: absolute;
  z-index: 100;
  width: 110px;
  bottom: 20px;
  right: 20px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 15px;
  font-weight: bold;
  background: #fff;
}

button.add-friend:hover {
  background: #eee;
}

.cover-photo > h1 {
  z-index: 100;
  position: absolute;
  left: 240px;
  color: white;
  font-size: 36px;
  font-weight: 300;
  text-shadow: #000 0 0 10px;
  bottom: 20px;
  line-height: 1;
}

.profile-picture {
  position: relative;
  overflow: visible;
  margin-top: -120px;
}

.profile-picture > img {
  z-index: 101;
  overflow: visible;
  border: black solid 1px;
  border-radius: 8px;
  margin-top: -120px;
}

.summary {
  margin: 20px 0;
}

.profile-nav {
  border-top: 1px solid #ccc;
  padding: 0;
}

.profile-nav > li:hover {
  background: #eee;
  cursor: pointer;
}

.profile-nav > li {
  border-bottom: 1px solid #ccc;
}

.profile-nav a {
  padding: 6px 0 6px 5px;
  display: inline-block;
  font-weight: bold;
}
